// Variables definition
$primary-color: #003769;
$accent-color: #ED8133;
$accent-color2: #0f75da;
$accent-color3: #45ad20;
$alert: #c9060e;



$font-family: sans-serif;
$font-color-dark: #00194a;
$font-color-medium: #6c6c6c;
$font-color-light: #FFFFFF;

$disabled-dark: #a6a6a6;
$disabled-light: #e0e0e0;

$base-color: #f5f5f5;
$base-color-blue: #e6f0fc;
$base-color-darker: #eaeaea;


$padding-small: 8px;
$padding-large: 16px;
