.header {
  background-color: var(--primary-color);
  color: var(--font-color-light);
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  height: 64px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 16px;
}

.username {
  font-weight: 500;
}

.role-select {
  margin-right: 16px;
  color: var(--font-color-light);
}

::ng-deep .mat-mdc-select-arrow {
  color: var(--font-color-light) !important;
}

::ng-deep .cdk-overlay-pane:has(.mat-mdc-select-panel) {
  min-width: fit-content;
}



.notification-icon,
.user-icon {
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.notification-icon mat-icon,
.user-icon mat-icon {
  color: white;
  font-size: 24px;
}

.notifications-menu {
  width: 250px;
  padding: 8px 0;
  background-color: var(--base-color-blue);
  color: #333;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.notification-header {
  font-weight: bold;
  font-size: 16px;
  color: #1d4e89;
  padding: 8px 16px;
  border-bottom: 1px solid #d1d5da;
}

.notification-item {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-bottom: 1px solid #e0e6ed;
}

.notification-item:last-child {
  border-bottom: none;
}

.notification-icon {
  font-size: 20px;
  color: #3a4b5c;
  margin-right: 12px;
}

.notification-content {
  display: flex;
  flex-direction: column;
}

.notification-title {
  font-weight: 500;
  color: #333;
}

.notification-time {
  font-size: 12px;
  color: #888;
}

.notification-section {
  font-size: 14px;
  color: #555;
  margin: 12px 16px 4px;
}

.user-menu {
  width: 200px;
  padding: 8px 0;
  background-color: #f0f4fa;
  color: var(--base-color-blue);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.user-menu button.mat-menu-item {
  font-size: 14px;
  color: red;
  padding: 8px 16px;
}

.user-menu-list-item {
  color: var(--font-color-dark);
}

.user-menu button.mat-menu-item:hover {
  background-color: #dce6f2;
}
