<h3 class="card-title">Warnings</h3>
<div class="card warnings-card">
  <ul class="warnings-list">
    <li class="warnings-list-item">
      <mat-icon fontIcon="check_circle" class="accent status-icon"></mat-icon>
      24.09.2024. Minimum rest time
    </li>
    <li class="warnings-list-item">
      <mat-icon fontIcon="error" class="alert status-icon"></mat-icon>
      23.09.2024. Minimum hours
    </li>
    <li class="warnings-list-item">
      <mat-icon fontIcon="error" class="alert status-icon"></mat-icon> 
      19.09.2024. Check time
    </li>
    <li class="warnings-list-item">
      <mat-icon fontIcon="check_circle" class="accent status-icon"></mat-icon>
      17.09.2024. Check time
    </li>
  </ul>
</div>
