.sidebar {
    width: 240px;
    background-color: var(--primary-color);
    color: var(--font-color-light) !important;
    height: 100%;
  }
  
  mat-nav-list {
    padding-top: 8px;
  }
  
  .mat-mdc-list-item {
    color: var(--font-color-light) !important;
    
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
  
  .active {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .mat-icon {
    color: var(--font-color-light) !important;
  }
  
  @media (max-width: 768px) {
    .sidebar {
      width: 56px;
      
      .mat-mdc-list-item-title {
        display: none;
      }
    }
  }