<h2 class="card-title">Change requests | RECEIVED</h2>
<div class="card">
  <div class="card-content">
    <table>
      <thead>
        <tr>
          <th class="with-separator">ROSTER</th>
          <th class="with-separator">DATE</th>
          <th class="with-separator">SHIFT</th>
          <th class="with-separator">SENDER</th>
          <th>STATUS</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let request of changeRequests">
          <td class="center-align with-separator">{{ request.roster }}</td>
          <td class="center-align with-separator">{{ request.date }}</td>
          <td class="center-align with-separator">{{ request.shift }}</td>
          <td class="center-align with-separator">{{ request.sender }}</td>
          <td>
            <div class="status-icons" [ngClass]="request.status">
              <span class="circle"></span>
              <span class="circle"></span>
              <ng-container *ngIf="request.status === 'rejected'">
                <span class="cross">✕</span>
              </ng-container>
              <ng-container *ngIf="request.status === 'approved'">
                <span class="success"><mat-icon fontIcon="checkmark"></mat-icon></span>
              </ng-container>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
