<div class="card-header">
  <h3 class="card-title">New messages</h3>
  <button mat-icon-button class="collapse-button" (click)="toggleCollapse()">
    <mat-icon [class.rotated]="isCollapsed">expand_more</mat-icon>
  </button>
</div>

<div class="card messages-card" [class.collapsed]="isCollapsed">
  <ul class="messages-list">
    <!-- Loop through the messages array -->
    <li class="messages-list-item" *ngFor="let message of messages">
      <mat-icon [fontIcon]="message.icon" class="mail-icon" [ngClass]="message.status"></mat-icon>
      
      <div class="status-icons">
        <mat-icon fontIcon="logout" class="status-icon small"></mat-icon>
        <mat-icon fontIcon="login" class="status-icon small"></mat-icon>
      </div>
      
      <div class="datetime-container">
        <span class="datetime">{{ message.dateFrom }}</span>
        <span class="datetime">{{ message.dateTo }}</span>
      </div>
      
      <div class="message-text">
        <b>ACC ROMA |</b> {{ message.message }}
      </div>
      
      <button mat-icon-button class="pin-button">
        <mat-icon fontIcon="push_pin"></mat-icon>
      </button>
    </li>
  </ul>
</div>
