<div class="card-header">
  <h2 class="card-title">Hours</h2>
  <button mat-icon-button class="collapse-button" (click)="toggleCollapse()">
    <mat-icon [class.rotated]="isCollapsed">expand_more</mat-icon>
  </button>
</div>

<div class="card">
  <div class="card-content" [class.collapsed]="isCollapsed">
    <table>
      <thead>
        <tr>
          <th class="with-separator">LICENSE_UNIT</th>
          <th class="with-separator">ROLE</th>
          <th class="with-separator">LAST WORK</th>
          <th class="with-separator">PERIOD</th>
          <th>HOURS</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hour of hours; let i = index">
          <td class="center-align with-separator">{{ hour.licenseUnit }}</td>
          <td class="center-align with-separator">{{ hour.role }}</td>
          <td class="center-align with-separator alert">
            <span [ngClass]="i > 0 ? 'warning' : 'alert'">{{ hour.lastWork }}</span>
          </td>
          <td class="center-align with-separator">{{ hour.period }}</td>
          <td class="center-align">
            <span [ngClass]="i == 0 ? 'alert' : ''">{{ hour.hours }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
