@use '@angular/material' as mat;
@import '../variables.scss';
@import '@angular/material/theming';

// Include the common styles for Angular Material
@include mat.core();

// Define your custom colors using variables from _variables.scss
$primary-palette: (
  50: lighten($primary-color, 52%),
  100: lighten($primary-color, 40%),
  200: lighten($primary-color, 30%),
  300: lighten($primary-color, 20%),
  400: lighten($primary-color, 10%),
  500: $primary-color,  // base color
  600: darken($primary-color, 10%),
  700: darken($primary-color, 20%),
  800: darken($primary-color, 30%),
  900: darken($primary-color, 40%),
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);

$accent-palette: (
  50: lighten($accent-color, 40%),
  100: lighten($accent-color, 30%),
  200: lighten($accent-color, 20%),
  300: lighten($accent-color, 10%),
  400: lighten($accent-color, 5%),
  500: $accent-color,  // base color
  600: darken($accent-color, 5%),
  700: darken($accent-color, 10%),
  800: darken($accent-color, 20%),
  900: darken($accent-color, 30%),
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);

$accent2-palette: (
  50: lighten($accent-color2, 40%),
  100: lighten($accent-color2, 30%),
  200: lighten($accent-color2, 20%),
  300: lighten($accent-color2, 10%),
  400: lighten($accent-color2, 5%),
  500: $accent-color2,  // base color
  600: darken($accent-color2, 5%),
  700: darken($accent-color2, 10%),
  800: darken($accent-color2, 20%),
  900: darken($accent-color2, 30%),
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);

$warn-palette: (
  50: lighten($alert, 40%),
  100: lighten($alert, 30%),
  200: lighten($alert, 20%),
  300: lighten($alert, 10%),
  400: lighten($alert, 5%),
  500: $alert,  // base color
  600: darken($alert, 5%),
  700: darken($alert, 10%),
  800: darken($alert, 20%),
  900: darken($alert, 30%),
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);

// Define the palettes
$my-primary-palette: mat.define-palette($primary-palette);
$my-accent-palette: mat.define-palette($accent-palette);
$my-warn-palette: mat.define-palette($warn-palette);

// Create the theme
$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary-palette,
    accent: $my-accent-palette,
    warn: $my-warn-palette,
  ),
  typography: mat.define-typography-config(
    $font-family: $font-family,
    $headline-1: mat.define-typography-level(32px, 40px, 500),
    $headline-2: mat.define-typography-level(28px, 36px, 500),
    $headline-3: mat.define-typography-level(24px, 32px, 500),
    $headline-4: mat.define-typography-level(20px, 28px, 500),
    $headline-5: mat.define-typography-level(16px, 24px, 500),
    $body-1: mat.define-typography-level(16px, 24px, 400),
    $body-2: mat.define-typography-level(14px, 20px, 400),
    $subtitle-1: mat.define-typography-level(16px, 24px, 500),
    $subtitle-2: mat.define-typography-level(14px, 20px, 500),
    $caption: mat.define-typography-level(12px, 16px, 400),
    $button: mat.define-typography-level(14px, 20px, 500)
  ),
  density: 0,
));

:root {
  --primary-color: #{$primary-color}; // Assign SCSS variable to CSS variable
  --accent-color: #{$accent-color};
  --accent-color2: #{$accent-color2};
  --accent-color3: #{$accent-color3};
  --alert: #{$alert};
  --font-family: #{$font-family};
  --font-color-dark: #{$font-color-dark};
  --font-color-medium: #{$font-color-medium};
  --font-color-light: #{$font-color-light};
  --disabled-dark: #{$disabled-dark};
  --disabled-light: #{$disabled-light};
  --base-color: #{$base-color};
  --base-color-blue: #{$base-color-blue};
  --base-color-darker: #{$base-color-darker};
}

// Apply the theme
@include mat.all-component-themes($my-theme);

// Optional: Define some utility classes for the spacing variables
.padding-small {
  padding: $padding-small;
}

.padding-large {
  padding: $padding-large;
}
