<div class="card-header">
  <h3 class="card-title">Pinned messages</h3>
  <button mat-icon-button class="collapse-button" (click)="toggleCollapse()">
    <mat-icon [class.rotated]="isCollapsed">expand_more</mat-icon>
  </button>
</div>

<div class="card messages-card" [class.collapsed]="isCollapsed">
  <ul class="messages-list">
    <li class="messages-list-item" *ngFor="let message of messages">
      <mat-icon [fontIcon]="message.icon" class="mail-icon"></mat-icon>
      
      <div class="status-icons">
        <mat-icon *ngFor="let status of message.status" [fontIcon]="status" class="status-icon small"></mat-icon>
      </div>
      
      <div class="datetime-container">
        <span class="datetime" *ngFor="let datetime of message.datetime">{{ datetime }}</span>
      </div>
      
      <div class="message-text">
        <b>{{message.messageFrom}}</b> {{ message.text }}
      </div>
      
      <div class="buttons">
        <button *ngFor="let button of message.buttons" mat-icon-button 
                [ngClass]="{ 'question-button': button === 'question_mark' }" 
                class="pin-button">
          <mat-icon [fontIcon]="button"></mat-icon>
        </button>
      </div>
    </li>
  </ul>
</div>
