@import 'app/styles/themes/material-theme.scss';

.layout-container {
    display: flex;
    height: 100vh;
  }
  
  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .content {
    padding: 16px;
    overflow-y: auto;
    flex: 1;
    background-color: var(--background-color, #f4f4f4);
  }

  



  .alert {
    color: var(--alert);
  }

  .warning {
    color: var(--accent-color);
  }

  .accent {
    color: var(--accent-color2);
  }

  .success {
    color: var(--accent-color3);
  }

